.vscodeDefault {
	--vscode-font-family: "Segoe WPC", "Segoe UI", sans-serif;
	--vscode-font-weight: normal;
	--vscode-font-size: 13px;
	--vscode-editor-font-family: Consolas, "Courier New", monospace,
		"Sarasa Mono SC", "Ubuntu Mono derivative Powerline";
	--vscode-editor-font-weight: normal;
	--vscode-editor-font-size: 16px;
	--vscode-foreground: #cccccc;
	--vscode-disabledForeground: rgba(204, 204, 204, 0.5);
	--vscode-errorForeground: #f48771;
	--vscode-descriptionForeground: rgba(204, 204, 204, 0.7);
	--vscode-icon-foreground: #c5c5c5;
	--vscode-focusBorder: #75715e;
	--vscode-selection-background: rgba(135, 139, 145, 0.5);
	--vscode-textSeparator-foreground: rgba(255, 255, 255, 0.18);
	--vscode-textLink-foreground: #3794ff;
	--vscode-textLink-activeForeground: #3794ff;
	--vscode-textPreformat-foreground: #d7ba7d;
	--vscode-textBlockQuote-background: rgba(127, 127, 127, 0.1);
	--vscode-textBlockQuote-border: rgba(0, 122, 204, 0.5);
	--vscode-textCodeBlock-background: rgba(10, 10, 10, 0.4);
	--vscode-widget-shadow: rgba(0, 0, 0, 0.6);
	--vscode-input-background: #414339;
	--vscode-input-foreground: #cccccc;
	--vscode-inputOption-activeBorder: #75715e;
	--vscode-inputOption-hoverBackground: rgba(90, 93, 94, 0.5);
	--vscode-inputOption-activeBackground: rgba(117, 113, 94, 0.4);
	--vscode-inputOption-activeForeground: #ffffff;
	--vscode-input-placeholderForeground: rgba(204, 204, 204, 0.5);
	--vscode-inputValidation-infoBackground: #546190;
	--vscode-inputValidation-infoBorder: #819aff;
	--vscode-inputValidation-warningBackground: #848528;
	--vscode-inputValidation-warningBorder: #e2e22e;
	--vscode-inputValidation-errorBackground: #90274a;
	--vscode-inputValidation-errorBorder: #f92672;
	--vscode-dropdown-background: #414339;
	--vscode-dropdown-listBackground: #1e1f1c;
	--vscode-dropdown-foreground: #f0f0f0;
	--vscode-dropdown-border: #414339;
	--vscode-checkbox-background: #414339;
	--vscode-checkbox-foreground: #f0f0f0;
	--vscode-checkbox-border: #414339;
	--vscode-button-foreground: #ffffff;
	--vscode-button-separator: rgba(255, 255, 255, 0.4);
	--vscode-button-background: #75715e;
	--vscode-button-hoverBackground: #8d8871;
	--vscode-button-secondaryForeground: #ffffff;
	--vscode-button-secondaryBackground: #3a3d41;
	--vscode-button-secondaryHoverBackground: #45494e;
	--vscode-badge-background: #75715e;
	--vscode-badge-foreground: #f8f8f2;
	--vscode-scrollbar-shadow: #000000;
	--vscode-scrollbarSlider-background: rgba(121, 121, 121, 0.4);
	--vscode-scrollbarSlider-hoverBackground: rgba(100, 100, 100, 0.7);
	--vscode-scrollbarSlider-activeBackground: rgba(191, 191, 191, 0.4);
	--vscode-progressBar-background: #75715e;
	--vscode-editorError-foreground: #f14c4c;
	--vscode-editorWarning-foreground: #cca700;
	--vscode-editorInfo-foreground: #3794ff;
	--vscode-editorHint-foreground: rgba(238, 238, 238, 0.7);
	--vscode-sash-hoverBorder: #75715e;
	--vscode-editor-background: #272822;
	--vscode-editor-foreground: #f8f8f2;
	--vscode-editorStickyScroll-background: #272822;
	--vscode-editorStickyScrollHover-background: #2a2d2e;
	--vscode-editorWidget-background: #1e1f1c;
	--vscode-editorWidget-foreground: #cccccc;
	--vscode-editorWidget-border: #454545;
	--vscode-quickInput-background: #1e1f1c;
	--vscode-quickInput-foreground: #cccccc;
	--vscode-quickInputTitle-background: rgba(255, 255, 255, 0.1);
	--vscode-pickerGroup-foreground: #75715e;
	--vscode-pickerGroup-border: #3f3f46;
	--vscode-keybindingLabel-background: rgba(128, 128, 128, 0.17);
	--vscode-keybindingLabel-foreground: #cccccc;
	--vscode-keybindingLabel-border: rgba(51, 51, 51, 0.6);
	--vscode-keybindingLabel-bottomBorder: rgba(68, 68, 68, 0.6);
	--vscode-editor-selectionBackground: rgba(135, 139, 145, 0.5);
	--vscode-editor-inactiveSelectionBackground: rgba(135, 139, 145, 0.25);
	--vscode-editor-selectionHighlightBackground: rgba(87, 91, 97, 0.5);
	--vscode-editor-findMatchBackground: #515c6a;
	--vscode-editor-findMatchHighlightBackground: rgba(234, 92, 0, 0.33);
	--vscode-editor-findRangeHighlightBackground: rgba(58, 61, 65, 0.4);
	--vscode-searchEditor-findMatchBackground: rgba(234, 92, 0, 0.22);
	--vscode-editor-hoverHighlightBackground: rgba(38, 79, 120, 0.25);
	--vscode-editorHoverWidget-background: #414339;
	--vscode-editorHoverWidget-foreground: #cccccc;
	--vscode-editorHoverWidget-border: #75715e;
	--vscode-editorHoverWidget-statusBarBackground: #4e5044;
	--vscode-editorLink-activeForeground: #4e94ce;
	--vscode-editorInlayHint-foreground: #f8f8f2;
	--vscode-editorInlayHint-background: rgba(117, 113, 94, 0.8);
	--vscode-editorInlayHint-typeForeground: #f8f8f2;
	--vscode-editorInlayHint-typeBackground: rgba(117, 113, 94, 0.8);
	--vscode-editorInlayHint-parameterForeground: #f8f8f2;
	--vscode-editorInlayHint-parameterBackground: rgba(117, 113, 94, 0.8);
	--vscode-editorLightBulb-foreground: #ffcc00;
	--vscode-editorLightBulbAutoFix-foreground: #75beff;
	--vscode-diffEditor-insertedTextBackground: rgba(75, 102, 22, 0.5);
	--vscode-diffEditor-removedTextBackground: rgba(144, 39, 74, 0.44);
	--vscode-diffEditor-insertedLineBackground: rgba(155, 185, 85, 0.2);
	--vscode-diffEditor-removedLineBackground: rgba(255, 0, 0, 0.2);
	--vscode-diffEditor-diagonalFill: rgba(204, 204, 204, 0.2);
	--vscode-list-focusOutline: #75715e;
	--vscode-list-activeSelectionBackground: #75715e;
	--vscode-list-activeSelectionForeground: #ffffff;
	--vscode-list-inactiveSelectionBackground: #414339;
	--vscode-list-hoverBackground: #3e3d32;
	--vscode-list-dropBackground: #414339;
	--vscode-list-highlightForeground: #f8f8f2;
	--vscode-list-focusHighlightForeground: #f8f8f2;
	--vscode-list-invalidItemForeground: #b89500;
	--vscode-list-errorForeground: #f88070;
	--vscode-list-warningForeground: #cca700;
	--vscode-listFilterWidget-background: #1e1f1c;
	--vscode-listFilterWidget-outline: rgba(0, 0, 0, 0);
	--vscode-listFilterWidget-noMatchesOutline: #be1100;
	--vscode-listFilterWidget-shadow: rgba(0, 0, 0, 0.6);
	--vscode-list-filterMatchBackground: rgba(234, 92, 0, 0.33);
	--vscode-tree-indentGuidesStroke: #585858;
	--vscode-tree-tableColumnsBorder: rgba(204, 204, 204, 0.13);
	--vscode-tree-tableOddRowsBackground: rgba(204, 204, 204, 0.04);
	--vscode-list-deemphasizedForeground: #8c8c8c;
	--vscode-quickInputList-focusForeground: #ffffff;
	--vscode-quickInputList-focusBackground: #414339;
	--vscode-menu-foreground: #cccccc;
	--vscode-menu-background: #1e1f1c;
	--vscode-menu-selectionForeground: #ffffff;
	--vscode-menu-selectionBackground: #75715e;
	--vscode-menu-separatorBackground: #606060;
	--vscode-toolbar-hoverBackground: rgba(90, 93, 94, 0.31);
	--vscode-toolbar-activeBackground: rgba(99, 102, 103, 0.31);
	--vscode-editor-snippetTabstopHighlightBackground: rgba(124, 124, 124, 0.3);
	--vscode-editor-snippetFinalTabstopHighlightBorder: #525252;
	--vscode-breadcrumb-foreground: rgba(204, 204, 204, 0.8);
	--vscode-breadcrumb-background: #272822;
	--vscode-breadcrumb-focusForeground: #e0e0e0;
	--vscode-breadcrumb-activeSelectionForeground: #e0e0e0;
	--vscode-breadcrumbPicker-background: #1e1f1c;
	--vscode-merge-currentHeaderBackground: rgba(64, 200, 174, 0.5);
	--vscode-merge-currentContentBackground: rgba(64, 200, 174, 0.2);
	--vscode-merge-incomingHeaderBackground: rgba(64, 166, 255, 0.5);
	--vscode-merge-incomingContentBackground: rgba(64, 166, 255, 0.2);
	--vscode-merge-commonHeaderBackground: rgba(96, 96, 96, 0.4);
	--vscode-merge-commonContentBackground: rgba(96, 96, 96, 0.16);
	--vscode-editorOverviewRuler-currentContentForeground: rgba(
		64,
		200,
		174,
		0.5
	);
	--vscode-editorOverviewRuler-incomingContentForeground: rgba(
		64,
		166,
		255,
		0.5
	);
	--vscode-editorOverviewRuler-commonContentForeground: rgba(96, 96, 96, 0.4);
	--vscode-editorOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
	--vscode-editorOverviewRuler-selectionHighlightForeground: rgba(
		160,
		160,
		160,
		0.8
	);
	--vscode-minimap-findMatchHighlight: #d18616;
	--vscode-minimap-selectionOccurrenceHighlight: #676767;
	--vscode-minimap-selectionHighlight: rgba(135, 139, 145, 0.5);
	--vscode-minimap-errorHighlight: rgba(255, 18, 18, 0.7);
	--vscode-minimap-warningHighlight: #cca700;
	--vscode-minimap-background: rgba(39, 40, 34, 0.56);
	--vscode-minimap-foregroundOpacity: #000000;
	--vscode-minimapSlider-background: rgba(121, 121, 121, 0.2);
	--vscode-minimapSlider-hoverBackground: rgba(100, 100, 100, 0.35);
	--vscode-minimapSlider-activeBackground: rgba(191, 191, 191, 0.2);
	--vscode-problemsErrorIcon-foreground: #f14c4c;
	--vscode-problemsWarningIcon-foreground: #cca700;
	--vscode-problemsInfoIcon-foreground: #3794ff;
	--vscode-charts-foreground: #cccccc;
	--vscode-charts-lines: rgba(204, 204, 204, 0.5);
	--vscode-charts-red: #f14c4c;
	--vscode-charts-blue: #3794ff;
	--vscode-charts-yellow: #cca700;
	--vscode-charts-orange: #d18616;
	--vscode-charts-green: #89d185;
	--vscode-charts-purple: #b180d7;
	--vscode-editor-lineHighlightBackground: #3e3d32;
	--vscode-editor-lineHighlightBorder: #282828;
	--vscode-editor-rangeHighlightBackground: rgba(255, 255, 255, 0.04);
	--vscode-editor-symbolHighlightBackground: rgba(234, 92, 0, 0.33);
	--vscode-editorCursor-foreground: #f8f8f0;
	--vscode-editorWhitespace-foreground: #464741;
	--vscode-editorIndentGuide-background: #464741;
	--vscode-editorIndentGuide-activeBackground: #767771;
	--vscode-editorLineNumber-foreground: #90908a;
	--vscode-editorActiveLineNumber-foreground: #c6c6c6;
	--vscode-editorLineNumber-activeForeground: #c2c2bf;
	--vscode-editorRuler-foreground: #5a5a5a;
	--vscode-editorCodeLens-foreground: #999999;
	--vscode-editorBracketMatch-background: rgba(0, 100, 0, 0.1);
	--vscode-editorBracketMatch-border: #888888;
	--vscode-editorOverviewRuler-border: rgba(127, 127, 127, 0.3);
	--vscode-editorGutter-background: #272822;
	--vscode-editorUnnecessaryCode-opacity: rgba(0, 0, 0, 0.67);
	--vscode-editorGhostText-foreground: rgba(255, 255, 255, 0.34);
	--vscode-editorOverviewRuler-rangeHighlightForeground: rgba(
		0,
		122,
		204,
		0.6
	);
	--vscode-editorOverviewRuler-errorForeground: rgba(255, 18, 18, 0.7);
	--vscode-editorOverviewRuler-warningForeground: #cca700;
	--vscode-editorOverviewRuler-infoForeground: #3794ff;
	--vscode-editorBracketHighlight-foreground1: #ffd700;
	--vscode-editorBracketHighlight-foreground2: #da70d6;
	--vscode-editorBracketHighlight-foreground3: #179fff;
	--vscode-editorBracketHighlight-foreground4: rgba(0, 0, 0, 0);
	--vscode-editorBracketHighlight-foreground5: rgba(0, 0, 0, 0);
	--vscode-editorBracketHighlight-foreground6: rgba(0, 0, 0, 0);
	--vscode-editorBracketHighlight-unexpectedBracket\.foreground: rgba(
		255,
		18,
		18,
		0.8
	);
	--vscode-editorBracketPairGuide-background1: rgba(0, 0, 0, 0);
	--vscode-editorBracketPairGuide-background2: rgba(0, 0, 0, 0);
	--vscode-editorBracketPairGuide-background3: rgba(0, 0, 0, 0);
	--vscode-editorBracketPairGuide-background4: rgba(0, 0, 0, 0);
	--vscode-editorBracketPairGuide-background5: rgba(0, 0, 0, 0);
	--vscode-editorBracketPairGuide-background6: rgba(0, 0, 0, 0);
	--vscode-editorBracketPairGuide-activeBackground1: rgba(0, 0, 0, 0);
	--vscode-editorBracketPairGuide-activeBackground2: rgba(0, 0, 0, 0);
	--vscode-editorBracketPairGuide-activeBackground3: rgba(0, 0, 0, 0);
	--vscode-editorBracketPairGuide-activeBackground4: rgba(0, 0, 0, 0);
	--vscode-editorBracketPairGuide-activeBackground5: rgba(0, 0, 0, 0);
	--vscode-editorBracketPairGuide-activeBackground6: rgba(0, 0, 0, 0);
	--vscode-editorUnicodeHighlight-border: #bd9b03;
	--vscode-editorUnicodeHighlight-background: rgba(189, 155, 3, 0.15);
	--vscode-symbolIcon-arrayForeground: #cccccc;
	--vscode-symbolIcon-booleanForeground: #cccccc;
	--vscode-symbolIcon-classForeground: #ee9d28;
	--vscode-symbolIcon-colorForeground: #cccccc;
	--vscode-symbolIcon-constantForeground: #cccccc;
	--vscode-symbolIcon-constructorForeground: #b180d7;
	--vscode-symbolIcon-enumeratorForeground: #ee9d28;
	--vscode-symbolIcon-enumeratorMemberForeground: #75beff;
	--vscode-symbolIcon-eventForeground: #ee9d28;
	--vscode-symbolIcon-fieldForeground: #75beff;
	--vscode-symbolIcon-fileForeground: #cccccc;
	--vscode-symbolIcon-folderForeground: #cccccc;
	--vscode-symbolIcon-functionForeground: #b180d7;
	--vscode-symbolIcon-interfaceForeground: #75beff;
	--vscode-symbolIcon-keyForeground: #cccccc;
	--vscode-symbolIcon-keywordForeground: #cccccc;
	--vscode-symbolIcon-methodForeground: #b180d7;
	--vscode-symbolIcon-moduleForeground: #cccccc;
	--vscode-symbolIcon-namespaceForeground: #cccccc;
	--vscode-symbolIcon-nullForeground: #cccccc;
	--vscode-symbolIcon-numberForeground: #cccccc;
	--vscode-symbolIcon-objectForeground: #cccccc;
	--vscode-symbolIcon-operatorForeground: #cccccc;
	--vscode-symbolIcon-packageForeground: #cccccc;
	--vscode-symbolIcon-propertyForeground: #cccccc;
	--vscode-symbolIcon-referenceForeground: #cccccc;
	--vscode-symbolIcon-snippetForeground: #cccccc;
	--vscode-symbolIcon-stringForeground: #cccccc;
	--vscode-symbolIcon-structForeground: #cccccc;
	--vscode-symbolIcon-textForeground: #cccccc;
	--vscode-symbolIcon-typeParameterForeground: #cccccc;
	--vscode-symbolIcon-unitForeground: #cccccc;
	--vscode-symbolIcon-variableForeground: #75beff;
	--vscode-editorHoverWidget-highlightForeground: #f8f8f2;
	--vscode-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
	--vscode-editor-foldBackground: rgba(135, 139, 145, 0.15);
	--vscode-editorGutter-foldingControlForeground: #c5c5c5;
	--vscode-editor-linkedEditingBackground: rgba(255, 0, 0, 0.3);
	--vscode-editor-wordHighlightBackground: rgba(74, 74, 118, 0.5);
	--vscode-editor-wordHighlightStrongBackground: rgba(106, 106, 150, 0.5);
	--vscode-editorOverviewRuler-wordHighlightForeground: rgba(
		160,
		160,
		160,
		0.8
	);
	--vscode-editorOverviewRuler-wordHighlightStrongForeground: rgba(
		192,
		160,
		192,
		0.8
	);
	--vscode-peekViewTitle-background: #1e1f1c;
	--vscode-peekViewTitleLabel-foreground: #ffffff;
	--vscode-peekViewTitleDescription-foreground: rgba(204, 204, 204, 0.7);
	--vscode-peekView-border: #75715e;
	--vscode-peekViewResult-background: #1e1f1c;
	--vscode-peekViewResult-lineForeground: #bbbbbb;
	--vscode-peekViewResult-fileForeground: #ffffff;
	--vscode-peekViewResult-selectionBackground: #414339;
	--vscode-peekViewResult-selectionForeground: #ffffff;
	--vscode-peekViewEditor-background: #272822;
	--vscode-peekViewEditorGutter-background: #272822;
	--vscode-peekViewResult-matchHighlightBackground: #75715e;
	--vscode-peekViewEditor-matchHighlightBackground: #75715e;
	--vscode-editorMarkerNavigationError-background: #f14c4c;
	--vscode-editorMarkerNavigationError-headerBackground: rgba(
		241,
		76,
		76,
		0.1
	);
	--vscode-editorMarkerNavigationWarning-background: #cca700;
	--vscode-editorMarkerNavigationWarning-headerBackground: rgba(
		204,
		167,
		0,
		0.1
	);
	--vscode-editorMarkerNavigationInfo-background: #3794ff;
	--vscode-editorMarkerNavigationInfo-headerBackground: rgba(
		55,
		148,
		255,
		0.1
	);
	--vscode-editorMarkerNavigation-background: #272822;
	--vscode-editorSuggestWidget-background: #272822;
	--vscode-editorSuggestWidget-border: #75715e;
	--vscode-editorSuggestWidget-foreground: #f8f8f2;
	--vscode-editorSuggestWidget-selectedForeground: #ffffff;
	--vscode-editorSuggestWidget-selectedBackground: #414339;
	--vscode-editorSuggestWidget-highlightForeground: #f8f8f2;
	--vscode-editorSuggestWidget-focusHighlightForeground: #f8f8f2;
	--vscode-editorSuggestWidgetStatus-foreground: rgba(248, 248, 242, 0.5);
	--vscode-tab-activeBackground: #272822;
	--vscode-tab-unfocusedActiveBackground: #272822;
	--vscode-tab-inactiveBackground: #34352f;
	--vscode-tab-unfocusedInactiveBackground: #34352f;
	--vscode-tab-activeForeground: #ffffff;
	--vscode-tab-inactiveForeground: #ccccc7;
	--vscode-tab-unfocusedActiveForeground: rgba(255, 255, 255, 0.5);
	--vscode-tab-unfocusedInactiveForeground: rgba(204, 204, 199, 0.5);
	--vscode-tab-border: #1e1f1c;
	--vscode-tab-lastPinnedBorder: #414339;
	--vscode-tab-activeModifiedBorder: #3399cc;
	--vscode-tab-inactiveModifiedBorder: rgba(51, 153, 204, 0.5);
	--vscode-tab-unfocusedActiveModifiedBorder: rgba(51, 153, 204, 0.5);
	--vscode-tab-unfocusedInactiveModifiedBorder: rgba(51, 153, 204, 0.25);
	--vscode-editorPane-background: #272822;
	--vscode-editorGroupHeader-tabsBackground: #1e1f1c;
	--vscode-editorGroupHeader-noTabsBackground: #272822;
	--vscode-editorGroup-border: #34352f;
	--vscode-editorGroup-dropBackground: rgba(65, 67, 57, 0.5);
	--vscode-editorGroup-dropIntoPromptForeground: #cccccc;
	--vscode-editorGroup-dropIntoPromptBackground: #1e1f1c;
	--vscode-sideBySideEditor-horizontalBorder: #34352f;
	--vscode-sideBySideEditor-verticalBorder: #34352f;
	--vscode-panel-background: #272822;
	--vscode-panel-border: #414339;
	--vscode-panelTitle-activeForeground: #f8f8f2;
	--vscode-panelTitle-inactiveForeground: #75715e;
	--vscode-panelTitle-activeBorder: #75715e;
	--vscode-panel-dropBorder: #f8f8f2;
	--vscode-panelSection-dropBackground: rgba(65, 67, 57, 0.5);
	--vscode-panelSectionHeader-background: rgba(128, 128, 128, 0.2);
	--vscode-panelSection-border: #414339;
	--vscode-banner-background: #75715e;
	--vscode-banner-foreground: #ffffff;
	--vscode-banner-iconForeground: #3794ff;
	--vscode-statusBar-foreground: #ffffff;
	--vscode-statusBar-noFolderForeground: #ffffff;
	--vscode-statusBar-background: #414339;
	--vscode-statusBar-noFolderBackground: #414339;
	--vscode-statusBar-focusBorder: #ffffff;
	--vscode-statusBarItem-activeBackground: rgba(255, 255, 255, 0.18);
	--vscode-statusBarItem-focusBorder: #ffffff;
	--vscode-statusBarItem-hoverBackground: rgba(255, 255, 255, 0.12);
	--vscode-statusBarItem-compactHoverBackground: rgba(255, 255, 255, 0.2);
	--vscode-statusBarItem-prominentForeground: #ffffff;
	--vscode-statusBarItem-prominentBackground: rgba(0, 0, 0, 0.5);
	--vscode-statusBarItem-prominentHoverBackground: rgba(0, 0, 0, 0.3);
	--vscode-statusBarItem-errorBackground: #c72e0f;
	--vscode-statusBarItem-errorForeground: #ffffff;
	--vscode-statusBarItem-warningBackground: #7a6400;
	--vscode-statusBarItem-warningForeground: #ffffff;
	--vscode-activityBar-background: #272822;
	--vscode-activityBar-foreground: #f8f8f2;
	--vscode-activityBar-inactiveForeground: rgba(248, 248, 242, 0.4);
	--vscode-activityBar-activeBorder: #f8f8f2;
	--vscode-activityBar-dropBorder: #f8f8f2;
	--vscode-activityBarBadge-background: #007acc;
	--vscode-activityBarBadge-foreground: #ffffff;
	--vscode-activityBarItem-settingsProfilesForeground: rgba(
		248,
		248,
		242,
		0.4
	);
	--vscode-activityBarItem-settingsProfilesHoverForeground: #f8f8f2;
	--vscode-activityBarItem-settingsProfilesBackground: #3a3c33;
	--vscode-statusBarItem-remoteBackground: #ac6218;
	--vscode-statusBarItem-remoteForeground: #ffffff;
	--vscode-extensionBadge-remoteBackground: #007acc;
	--vscode-extensionBadge-remoteForeground: #ffffff;
	--vscode-sideBar-background: #1e1f1c;
	--vscode-sideBar-dropBackground: rgba(65, 67, 57, 0.5);
	--vscode-sideBarSectionHeader-background: #272822;
	--vscode-titleBar-activeForeground: #cccccc;
	--vscode-titleBar-inactiveForeground: rgba(204, 204, 204, 0.6);
	--vscode-titleBar-activeBackground: #1e1f1c;
	--vscode-titleBar-inactiveBackground: rgba(30, 31, 28, 0.6);
	--vscode-menubar-selectionForeground: #cccccc;
	--vscode-menubar-selectionBackground: rgba(90, 93, 94, 0.31);
	--vscode-notifications-foreground: #cccccc;
	--vscode-notifications-background: #1e1f1c;
	--vscode-notificationLink-foreground: #3794ff;
	--vscode-notificationCenterHeader-background: #272825;
	--vscode-notifications-border: #272825;
	--vscode-notificationsErrorIcon-foreground: #f14c4c;
	--vscode-notificationsWarningIcon-foreground: #cca700;
	--vscode-notificationsInfoIcon-foreground: #3794ff;
	--vscode-commandCenter-foreground: #cccccc;
	--vscode-commandCenter-activeForeground: #cccccc;
	--vscode-commandCenter-inactiveForeground: rgba(204, 204, 204, 0.6);
	--vscode-commandCenter-activeBackground: rgba(90, 93, 94, 0.31);
	--vscode-commandCenter-border: rgba(204, 204, 204, 0.25);
	--vscode-commandCenter-inactiveBorder: rgba(204, 204, 204, 0.15);
	--vscode-editorCommentsWidget-resolvedBorder: rgba(204, 204, 204, 0.5);
	--vscode-editorCommentsWidget-unresolvedBorder: #75715e;
	--vscode-editorCommentsWidget-rangeBackground: rgba(117, 113, 94, 0.1);
	--vscode-editorCommentsWidget-rangeBorder: rgba(117, 113, 94, 0.4);
	--vscode-editorCommentsWidget-rangeActiveBackground: rgba(
		117,
		113,
		94,
		0.1
	);
	--vscode-editorCommentsWidget-rangeActiveBorder: rgba(117, 113, 94, 0.4);
	--vscode-editorGutter-commentRangeForeground: #414339;
	--vscode-debugToolBar-background: #1e1f1c;
	--vscode-debugIcon-startForeground: #89d185;
	--vscode-editor-stackFrameHighlightBackground: rgba(255, 255, 0, 0.2);
	--vscode-editor-focusedStackFrameHighlightBackground: rgba(
		122,
		189,
		122,
		0.3
	);
	--vscode-mergeEditor-change\.background: rgba(155, 185, 85, 0.2);
	--vscode-mergeEditor-change\.word\.background: rgba(156, 204, 44, 0.2);
	--vscode-mergeEditor-changeBase\.background: #4b1818;
	--vscode-mergeEditor-changeBase\.word\.background: #6f1313;
	--vscode-mergeEditor-conflict\.unhandledUnfocused\.border: rgba(
		255,
		166,
		0,
		0.48
	);
	--vscode-mergeEditor-conflict\.unhandledFocused\.border: #ffa600;
	--vscode-mergeEditor-conflict\.handledUnfocused\.border: rgba(
		134,
		134,
		134,
		0.29
	);
	--vscode-mergeEditor-conflict\.handledFocused\.border: rgba(
		193,
		193,
		193,
		0.8
	);
	--vscode-mergeEditor-conflict\.handled\.minimapOverViewRuler: rgba(
		173,
		172,
		168,
		0.93
	);
	--vscode-mergeEditor-conflict\.unhandled\.minimapOverViewRuler: #fcba03;
	--vscode-mergeEditor-conflictingLines\.background: rgba(255, 234, 0, 0.28);
	--vscode-mergeEditor-conflict\.input1\.background: rgba(64, 200, 174, 0.2);
	--vscode-mergeEditor-conflict\.input2\.background: rgba(64, 166, 255, 0.2);
	--vscode-settings-headerForeground: #e7e7e7;
	--vscode-settings-modifiedItemIndicator: #0c7d9d;
	--vscode-settings-headerBorder: #414339;
	--vscode-settings-sashBorder: #414339;
	--vscode-settings-dropdownBackground: #414339;
	--vscode-settings-dropdownForeground: #f0f0f0;
	--vscode-settings-dropdownBorder: #414339;
	--vscode-settings-dropdownListBorder: #454545;
	--vscode-settings-checkboxBackground: #414339;
	--vscode-settings-checkboxForeground: #f0f0f0;
	--vscode-settings-checkboxBorder: #414339;
	--vscode-settings-textInputBackground: #414339;
	--vscode-settings-textInputForeground: #cccccc;
	--vscode-settings-numberInputBackground: #414339;
	--vscode-settings-numberInputForeground: #cccccc;
	--vscode-settings-focusedRowBackground: rgba(65, 67, 57, 0.35);
	--vscode-settings-rowHoverBackground: rgba(62, 61, 50, 0.3);
	--vscode-settings-focusedRowBorder: #75715e;
	--vscode-terminal-foreground: #cccccc;
	--vscode-terminal-selectionBackground: rgba(135, 139, 145, 0.5);
	--vscode-terminal-inactiveSelectionBackground: rgba(135, 139, 145, 0.25);
	--vscode-terminalCommandDecoration-defaultBackground: rgba(
		255,
		255,
		255,
		0.25
	);
	--vscode-terminalCommandDecoration-successBackground: #1b81a8;
	--vscode-terminalCommandDecoration-errorBackground: #f14c4c;
	--vscode-terminalOverviewRuler-cursorForeground: rgba(160, 160, 160, 0.8);
	--vscode-terminal-border: #414339;
	--vscode-terminal-findMatchBackground: #515c6a;
	--vscode-terminal-findMatchHighlightBackground: rgba(234, 92, 0, 0.33);
	--vscode-terminalOverviewRuler-findMatchForeground: rgba(
		209,
		134,
		22,
		0.49
	);
	--vscode-terminal-dropBackground: rgba(65, 67, 57, 0.5);
	--vscode-testing-iconFailed: #f14c4c;
	--vscode-testing-iconErrored: #f14c4c;
	--vscode-testing-iconPassed: #73c991;
	--vscode-testing-runAction: #73c991;
	--vscode-testing-iconQueued: #cca700;
	--vscode-testing-iconUnset: #848484;
	--vscode-testing-iconSkipped: #848484;
	--vscode-testing-peekBorder: #f14c4c;
	--vscode-testing-peekHeaderBackground: rgba(241, 76, 76, 0.1);
	--vscode-testing-message\.error\.decorationForeground: #f14c4c;
	--vscode-testing-message\.error\.lineBackground: rgba(255, 0, 0, 0.2);
	--vscode-testing-message\.info\.decorationForeground: rgba(
		248,
		248,
		242,
		0.5
	);
	--vscode-welcomePage-tileBackground: #1e1f1c;
	--vscode-welcomePage-tileHoverBackground: #242522;
	--vscode-welcomePage-tileShadow: rgba(0, 0, 0, 0.6);
	--vscode-welcomePage-progress\.background: #414339;
	--vscode-welcomePage-progress\.foreground: #3794ff;
	--vscode-debugExceptionWidget-border: #a31515;
	--vscode-debugExceptionWidget-background: #420b0d;
	--vscode-ports-iconRunningProcessForeground: #ccccc7;
	--vscode-statusBar-debuggingBackground: #75715e;
	--vscode-statusBar-debuggingForeground: #ffffff;
	--vscode-editor-inlineValuesForeground: rgba(255, 255, 255, 0.5);
	--vscode-editor-inlineValuesBackground: rgba(255, 200, 0, 0.2);
	--vscode-editorGutter-modifiedBackground: #1b81a8;
	--vscode-editorGutter-addedBackground: #487e02;
	--vscode-editorGutter-deletedBackground: #f14c4c;
	--vscode-minimapGutter-modifiedBackground: #1b81a8;
	--vscode-minimapGutter-addedBackground: #487e02;
	--vscode-minimapGutter-deletedBackground: #f14c4c;
	--vscode-editorOverviewRuler-modifiedForeground: rgba(27, 129, 168, 0.6);
	--vscode-editorOverviewRuler-addedForeground: rgba(72, 126, 2, 0.6);
	--vscode-editorOverviewRuler-deletedForeground: rgba(241, 76, 76, 0.6);
	--vscode-debugIcon-breakpointForeground: #e51400;
	--vscode-debugIcon-breakpointDisabledForeground: #848484;
	--vscode-debugIcon-breakpointUnverifiedForeground: #848484;
	--vscode-debugIcon-breakpointCurrentStackframeForeground: #ffcc00;
	--vscode-debugIcon-breakpointStackframeForeground: #89d185;
	--vscode-notebook-cellBorderColor: #414339;
	--vscode-notebook-focusedEditorBorder: #75715e;
	--vscode-notebookStatusSuccessIcon-foreground: #89d185;
	--vscode-notebookStatusErrorIcon-foreground: #f48771;
	--vscode-notebookStatusRunningIcon-foreground: #cccccc;
	--vscode-notebook-cellToolbarSeparator: rgba(128, 128, 128, 0.35);
	--vscode-notebook-selectedCellBackground: #414339;
	--vscode-notebook-selectedCellBorder: #414339;
	--vscode-notebook-focusedCellBorder: #75715e;
	--vscode-notebook-inactiveFocusedCellBorder: #414339;
	--vscode-notebook-cellStatusBarItemHoverBackground: rgba(
		255,
		255,
		255,
		0.15
	);
	--vscode-notebook-cellInsertionIndicator: #75715e;
	--vscode-notebookScrollbarSlider-background: rgba(121, 121, 121, 0.4);
	--vscode-notebookScrollbarSlider-hoverBackground: rgba(100, 100, 100, 0.7);
	--vscode-notebookScrollbarSlider-activeBackground: rgba(191, 191, 191, 0.4);
	--vscode-notebook-symbolHighlightBackground: rgba(255, 255, 255, 0.04);
	--vscode-notebook-cellEditorBackground: #1e1f1c;
	--vscode-notebook-editorBackground: #272822;
	--vscode-keybindingTable-headerBackground: rgba(204, 204, 204, 0.04);
	--vscode-keybindingTable-rowsBackground: rgba(204, 204, 204, 0.04);
	--vscode-scm-providerBorder: #454545;
	--vscode-debugTokenExpression-name: #c586c0;
	--vscode-debugTokenExpression-value: rgba(204, 204, 204, 0.6);
	--vscode-debugTokenExpression-string: #ce9178;
	--vscode-debugTokenExpression-boolean: #4e94ce;
	--vscode-debugTokenExpression-number: #b5cea8;
	--vscode-debugTokenExpression-error: #f48771;
	--vscode-debugView-exceptionLabelForeground: #cccccc;
	--vscode-debugView-exceptionLabelBackground: #6c2022;
	--vscode-debugView-stateLabelForeground: #cccccc;
	--vscode-debugView-stateLabelBackground: rgba(136, 136, 136, 0.27);
	--vscode-debugView-valueChangedHighlight: #569cd6;
	--vscode-debugConsole-infoForeground: #3794ff;
	--vscode-debugConsole-warningForeground: #cca700;
	--vscode-debugConsole-errorForeground: #f48771;
	--vscode-debugConsole-sourceForeground: #cccccc;
	--vscode-debugConsoleInputIcon-foreground: #cccccc;
	--vscode-debugIcon-pauseForeground: #75beff;
	--vscode-debugIcon-stopForeground: #f48771;
	--vscode-debugIcon-disconnectForeground: #f48771;
	--vscode-debugIcon-restartForeground: #89d185;
	--vscode-debugIcon-stepOverForeground: #75beff;
	--vscode-debugIcon-stepIntoForeground: #75beff;
	--vscode-debugIcon-stepOutForeground: #75beff;
	--vscode-debugIcon-continueForeground: #75beff;
	--vscode-debugIcon-stepBackForeground: #75beff;
	--vscode-extensionButton-background: #75715e;
	--vscode-extensionButton-foreground: #ffffff;
	--vscode-extensionButton-hoverBackground: #8d8871;
	--vscode-extensionButton-separator: rgba(255, 255, 255, 0.4);
	--vscode-extensionButton-prominentBackground: #75715e;
	--vscode-extensionButton-prominentForeground: #ffffff;
	--vscode-extensionButton-prominentHoverBackground: #8d8871;
	--vscode-extensionIcon-starForeground: #ff8e00;
	--vscode-extensionIcon-verifiedForeground: #3794ff;
	--vscode-extensionIcon-preReleaseForeground: #1d9271;
	--vscode-extensionIcon-sponsorForeground: #d758b3;
	--vscode-terminal-ansiBlack: #333333;
	--vscode-terminal-ansiRed: #c4265e;
	--vscode-terminal-ansiGreen: #86b42b;
	--vscode-terminal-ansiYellow: #b3b42b;
	--vscode-terminal-ansiBlue: #6a7ec8;
	--vscode-terminal-ansiMagenta: #8c6bc8;
	--vscode-terminal-ansiCyan: #56adbc;
	--vscode-terminal-ansiWhite: #e3e3dd;
	--vscode-terminal-ansiBrightBlack: #666666;
	--vscode-terminal-ansiBrightRed: #f92672;
	--vscode-terminal-ansiBrightGreen: #a6e22e;
	--vscode-terminal-ansiBrightYellow: #e2e22e;
	--vscode-terminal-ansiBrightBlue: #819aff;
	--vscode-terminal-ansiBrightMagenta: #ae81ff;
	--vscode-terminal-ansiBrightCyan: #66d9ef;
	--vscode-terminal-ansiBrightWhite: #f8f8f2;
	--vscode-interactive-activeCodeBorder: #75715e;
	--vscode-interactive-inactiveCodeBorder: #414339;
	--vscode-gitDecoration-addedResourceForeground: #81b88b;
	--vscode-gitDecoration-modifiedResourceForeground: #e2c08d;
	--vscode-gitDecoration-deletedResourceForeground: #c74e39;
	--vscode-gitDecoration-renamedResourceForeground: #73c991;
	--vscode-gitDecoration-untrackedResourceForeground: #73c991;
	--vscode-gitDecoration-ignoredResourceForeground: #8c8c8c;
	--vscode-gitDecoration-stageModifiedResourceForeground: #e2c08d;
	--vscode-gitDecoration-stageDeletedResourceForeground: #c74e39;
	--vscode-gitDecoration-conflictingResourceForeground: #e4676b;
	--vscode-gitDecoration-submoduleResourceForeground: #8db9e2;
	font-size: 22px;
}
:root {
	--vscode-badge-background: #75715e;
	--vscode-badge-foreground: #f8f8f2;
	--vscode-editorWidget-background: #1e1f1c;
	--vscode-editorWidget-foreground: #cccccc;

	/* 使用vscode主题 **/
	--bg: var(--vscode-editor-background);
	--color: var(--vscode-editor-foreground);

	/* --btnColor: var(--vscode-input-foreground); */
	--btnColor: var(--color);
	--btnBg: var(--vscode-input-background);
	--btnActive: var(--vscode-inputOption-activeBackground);
	--btnActiveBorder: var(--vscode-inputValidation-infoBorder);
	/**/
	/* TODO: 系统默认主题的weight设置为300 */
	/* 计算出的主题参数 */
	--bg-rgb: 255, 255, 255;
	--color-rgb: 0, 0, 0;

	--default-font-family: "Microsoft YaHei";
	--fontFamily: "Microsoft YaHei";

	--default-font-weight:var(--vscode-font-weight);
	--fontWeight: var(--vscode-font-weight);

	/* 默认继承的 */
	--navBg: var(--bg);
	--textColor: var(--color);

	/* 绿色主题 */
	/* --bg: #cbd9c0;
	--color: #303b33;
	--btnBg: #cbd9c0;
	--btnColor: #303b33;
	--btnActive: rgba(0, 0, 0, 0.2);
	--btnActiveBorder:#303b33; */

	/* 一些非主题的参数 */
	--scroll-bar-size: 10px;
	/* --navHeight: 2rem; */
	--navHeight: calc(var(--smallZoomSize) * 1.75);

	/* 这两个会被运行时注入的规则覆盖 */
	--rootFontSize: 16px;
	--zoom: 1;
	/* 动态计算 */
	--smallZoomSize: calc(var(--rootFontSize) * ((var(--zoom) - 1) / 3 + 1));

	/** screenDirection*/
	--fullWidth: 100vw;
	--fullHeight: 100vh;



}

html {
	font-size: 16px;
	font-size: calc(var(--rootFontSize) * var(--zoom));
	background: var(--bg);

}
/* ::-webkit-scrollbar-thumb{
	background: var(--color);
	opacity: 0.2;
}
::-webkit-scrollbar{
	background: var(--bg);
} */
body {
	display: none;
	padding: 0;
	margin: 0px;
	color: var(--color);
	cursor: default;
	cursor: url("./cursor.svg"), url("./fish.png");
	/* background: var(--bg); */
	flex-direction: column;
	width: var(--fullWidth);
	height: var(--fullHeight);

	font-family:var(--fontFamily);
	font-weight:var(--fontWeight);

}
body.init {
	display: flex;
}

/********************
 *		一些参数
 ********************/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

/********************
 *		工具类
 ********************/
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
button,
.button {
	color: var(--btnColor);
	cursor: pointer;
	background: var(--btnBg);
	border: 0;
	border: 1px #5c5c5c solid;
	border-color: var(--btnActive);
	border-radius: 4px;
	outline: none;
	box-sizing: border-box;
	font-family:var(--fontFamily);
	font-weight:var(--fontWeight);
}
button:hover,
.button:hover,
button:focus,
.button:focus {
	background: var(--btnActive);
	border-color: var(--btnActive);
}
button:active,
.button:active {
	background: var(--btnActive);
	border-color: var(--btnActiveBorder);
}

.after-shadow::after {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	content: " ";
	opacity: 0.5;
	box-shadow: 0px 0px 0px var(--shadow-size, 2px) var(--color) inset;
}

/********************
 *	   业务逻辑
 ********************/
.nav {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: var(--navHeight);
	font-size: calc(var(--smallZoomSize) * 0.7);
	background: var(--navBg);
	flex: 0 0 auto;
	/* background: calc(var(--color) + '55'); */
	z-index: 10;
	pointer-events:none;

}
.nav::after {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	display: block;
	width: 100%;
	height: var(--navHeight);
	content: " ";
	opacity: 0.15;
	box-shadow: var(--color) 0px 4px 6px -1px;
}
.nav button {
	width: calc(var(--smallZoomSize) * 3.75);
	height: 100%;
	font-size: inherit;
	background: transparent;
	border-color: transparent;
	border-radius: 0;
	flex: 0 0 auto;
	pointer-events:initial;
}

.nav .content-container {
	position: relative;
	height: 100%;
	flex: 1 0 auto;
	order: 5;
}
.nav .content-container .title {
	width: initial;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	text-shadow: 0px 0px 10px var(--bg), 0px 0px 10px var(--bg),
		0px 0px 10px var(--bg), 0px 0px 10px var(--bg), 0px 0px 10px var(--bg),
		0px 0px 10px var(--bg);
	z-index: 999;
}
.nav .content-container .title::after {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	display: block;
	width: 100%;
	height: 100%;
	content: " ";
	opacity: 0.5;
	background: var(--bg);
}

.nav .content-container .time {
	right: calc(var(--smallZoomSize) * 0.4);
	width: initial;
	/* display: none; */
	line-height: var(--navHeight);
}
.nav.left .content-container .time {
	display: block;
}

.nav .content-container > div {
	position: absolute;
	/* top: 0; */
	/* left: 0; */
	width: 100%;
	height: 100%;
	user-select: none;
}
.nav .content-container .zoom {
	position: relative;
	display: none;
	width: calc(var(--smallZoomSize) * 7);
	height: calc(var(--smallZoomSize) * 1.3 + 4px);
	/* font-size: 0.9rem; */
	color: var(--color);
	background: var(--navBg);
	opacity: 1;
	transition: opacity 300ms;
}

.nav .content-container .zoom::after {
	border-radius: 5px;
}
.nav .content-container .zoom.on + .title {
	display: none;
}

.nav.left .content-container {
	padding-left: var(--smallZoomSize);
	box-sizing: border-box;
	justify-content: flex-start;
}
.nav .button.next {
	order: 15;
}
.nav.left .button {
	order: 10;
}

.main {
	display: flex;
	width: 100%;
	max-height: calc(var(--fullHeight) - var(--navHeight));
	padding-top: calc(var(--navHeight) * 0.3);
	margin: var(--navHeight) auto 0;
	overflow-y: auto;
	overflow-x: hidden;
	box-sizing: border-box;
	flex: 1;
	flex-direction: column;
}
.main .standard-width {
	width: 80%;
	max-width: calc(100% - 80px);
	margin: 0 auto;
}

.header .title {
	font-size: 1.6rem;
	text-align: center;
	/* display: none; */
}
.content-box {
	/* padding-top: 10px; */
}
.content {
	color: var(--textColor);
	flex: 1 1 auto;
	scroll-behavior: smooth;
}
.content div {
	/* FIXME: 这个距离,如果修改成2rem 则无法保持当前滚动位置,需要解决办法 */
	/* margin-top: 30px; */
	margin-top: 1em;
	font-size: 16px;
	line-height: 1.5;
	text-indent: 2em;
}

.footer.footer {
	display: flex;
	width: 100%;
	padding-bottom: 40px;
	margin-top: 50px;
}
.footer .btn-box {
	display: flex;
	width: 100%;
	justify-content: space-around;
}
.footer .btn-box button {
	height: min(3.6rem, 10.8vw);
	max-width: min(12rem, 36vw);
	min-width: min(9rem, 27vw);
	font-size: min(1.6rem, 4.5vw);
	flex: 1 1 auto;
}

.function-box {
	position: relative;
}
.side-next-btn {
	--size: min(calc(var(--smallZoomSize) * 1.6), 6.4vw);
	position: fixed;
	top: 50%;
	right: 20px;
	width: var(--size);
	height: var(--size);
	margin-top: calc(var(--size) * -0.54);

	overflow: hidden;
	pointer-events: stroke;
	background: var(--bg);
	border: max(calc(var(--size) * 0.06), 2px) solid;
	border-radius: var(--size);
	transition: transform 300ms;
	scroll-snap-type: none;
	scroll-behavior: smooth;
}
.side-next-btn svg {
	width: 80%;
	height: 80%;
	fill: var(--color);
}

/* .side-next-btn.down { } */
.side-next-btn.right {
	transform: rotateZ(-90deg);
}

.side-next-btn.btn2 {
	top: initial;
	margin: 0;
	/* display: none; */
	right: inherit;
	/* 家里电脑 */
	pointer-events:none;


	/* --bottom-raw: 90px;
	--left-raw: 136px; */
	--left-raw: 211px;
	--bottom-raw: 161px;
	/* --bottom-raw: 120px;
    --left-raw: 218px; */

	--left: calc(var(--left-raw) - var(--size) * 0.5 - 16px);
	--bottom: calc(var(--bottom-raw) - var(--size) * 0.5 - 16px);
	/* --left:var( --left-raw);
	--bottom: var(--bottom-raw); */
	/* transform: translate(-50%, -50%); */
	/* bottom:var(--bottom);
	left: var(--left); */
	/* 公司电脑 */
	/* --left: 460px;
	--bottom: 343px; */
	/* --left-raw: 494px;
	--bottom-raw: 376px;
	--left: calc(var(--left-raw) - var(--size) * 0.5);
	--bottom: calc(var(--bottom-raw) - var(--size) * 0.5); */
	/* left: 460px;
	bottom: 343px; */
	transform: scale(0.2);
}

.symbol-box {
	display: none;
}

.custom-contextmenu {
	/* border: ; */
	--radius: 0.2rem;
	--shadow-size: 5px;
	position: fixed;
	/* left: 30vw;
	top: 40vw; */
	display: none;
	width: calc(var(--smallZoomSize) * 6);
	/* overflow: hidden; */

	font-size: calc(var(--smallZoomSize) * 0.45);
	/* border: max(1px, 0.06rem) solid var(--color); */
	/* --color:#000;
	--color: inherit; */

	background: var(--bg);
	border-radius: var(--radius);
	/* overflow: hidden; */
	box-shadow: 0px 0px 6px 2px var(--bg);
}
.custom-contextmenu-bg {
	position: absolute;
	z-index: 30;
	width: 100%;
	height: 100%;
	pointer-events: none;
	border-radius: var(--radius);
	box-shadow: inset 0px 0px max(1px, 0.06rem) 0px var(--color);
}
/* .custom-contextmenu::after {
	border-radius: inherit;
	content: '123123';
	font-size: 40px;
	color: var(--color);
	color: inherit;
	box-shadow: 0px 0px 3px 2px var(--color) ;
} */

.contextmenu-item {
	position: relative;
	padding: calc(var(--smallZoomSize) * 0.2) calc(var(--smallZoomSize) * 0.4);
	color: #000;
	color: inherit;
	user-select: none;
}
.contextmenu-item.title {
	padding: calc(var(--smallZoomSize) * 0.1) calc(var(--smallZoomSize) * 0.3);
	margin: -1px;
	font-size: calc(var(--smallZoomSize) * 0.36);
}
.contextmenu-item.title:first-child .after {
	border-top-right-radius: calc(var(--radius) * 0.8);
	border-top-left-radius: calc(var(--radius) * 0.8);
}
.contextmenu-item.title .after {
	/* position: absolute;
	width: 100%;
	height: 100%;
	color: #000;
	background: var(--color);
	left: 0;
	top: 0;
	opacity: 0.3; */
}
.contextmenu-hr {
	width: 100%;
	height: 2px;
	background: var(--color);
	opacity: 0.3;
}

.contextmenu-item.title:hover::after,
.contextmenu-item.theme-item:hover::after {
	content: none;
}
.contextmenu-item:hover::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #000;
	pointer-events: none;
	background: var(--color);
	content: " ";
	opacity: 0.1;
}

.theme-item {
	/* 默认这里会继承:root的,这里手动指定一下  */
	--textColor: var(--color);
	/* 默认值 */
	--fontFamily:var(--default-font-family);
	--fontWeight:var(--default-font-weight);
	--bg: var(--vscode-editor-background);
	--color: var(--vscode-editor-foreground);

	display: flex;
	padding-left: calc(var(--smallZoomSize) * 1.1);
	color: var(--textColor);
	background: var(--bg);
	align-items: center;
	font-family:var(--fontFamily);
	font-weight:var(--fontWeight);
}

.theme-item .icon {
	--iconSize: calc(var(--smallZoomSize) * 0.5);

	position: absolute;
	left: calc(var(--smallZoomSize) * 0.3);
	display: flex;
	width: var(--iconSize);
	height: var(--iconSize);
	color: var(--bg);
	background: var(--color);
	border-radius: var(--iconSize);
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
}
.theme-item:hover .icon:not(.on):after{
	content: ' ';
	--size: 40%;
	width: var(--size);
	height: var(--size);
	background: var(--bg);
	border-radius: 50%;
}
.theme-item .icon.on::after {
	/* 1.60倍 */
	--size: 25%;
	display: block;
	width: var(--size);
	height: calc(var(--size) * 1.7);
	border: calc(var(--smallZoomSize) * 0.06) solid;
	border-top: 0;

	border-left: 0;
	content: " ";
	transform: translate(-10%, -10%);
	transform: rotate(45deg);
	transform: rotate(45deg) translate(-18%, -8%);
}

.contextmenu-item-input-label {
	display: inline-block;
	display: flex;
	flex: 1 0 auto;
	justify-content: space-between;
}

.contextmenu-item.zen-mode {
	cursor: pointer;
}

.contextmenu-item input {
	max-width: 3rem;
	min-width: 3.6em;
	width: calc(var(--smallZoomSize) * 1.2);
	font-size: calc(var(--smallZoomSize) * 0.55);
	color: var(--color);

	text-align: center;
	background: var(--btnBg);
	border: none;
	outline: none;
	background: rgba(var(--color-rgb), 0.1);
}

.contextmenu-item label {
	display: flex;
	justify-content: space-between;
}

.contextmenu-item-input {
	display: flex;
	justify-content: space-between;
}
/*********************
* 	   旋转控制
*********************/
html {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

body {
	--rotate-deg: 0deg;
	--rotate-y-translate: ;
	transform: rotate(var(--rotate-deg)) var(--rotate-y-translate);
	transform-origin: center;
}
.screenDirection-2 {
	--rotate-deg: 90deg;
	--rotate-y-translate: translateY(-100%);
}
.screenDirection-3 {
	--rotate-deg: 180deg;
}
.screenDirection-4 {
	--rotate-deg: 270deg;
	--rotate-y-translate: translateX(-100%);
}

body.screenDirection-2,
body.screenDirection-4 {
	--fullWidth: 100vh;
	--fullHeight: 100vw;
	transform-origin: left top;
}
/* 专门适配的 */
body.screenDirection-1 .side-next-btn.btn2 {
	left: var(--left);
	bottom: var(--bottom);
}
body.screenDirection-2 .side-next-btn.btn2 {
	bottom: var(--left);
	right: var(--bottom);
}
body.screenDirection-3 .side-next-btn.btn2 {
	right: var(--left);
	top: var(--bottom);
}
body.screenDirection-4 .side-next-btn.btn2 {
	top: var(--left);
	left: var(--bottom);
}
/* 旋转控制操作的 */
.turn-screen:hover::after {
	content: none !important;
}
.rotate-icon {
	width: calc(var(--smallZoomSize) * 0.66);
	height: calc(var(--smallZoomSize) * 0.66);
	fill: var(--color);
	line-height: 24px;
}
.rotate-screen-items {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 144px;
	margin-left: 12px;
}

.rotate-screen-item .item {
	width: calc(var(--smallZoomSize) * 0.66);
	height: calc(var(--smallZoomSize) * 0.5);
	background: rgba(var(--color-rgb), 0.15);
	text-align: center;
	line-height: calc(var(--smallZoomSize) * 0.5);
	font-size: calc(var(--smallZoomSize) * 0.44);
}
.rotate-screen-item .item:hover,
.rotate-screen-item .item.on {
	background: rgba(var(--color-rgb), 0.3);
}
.rotate-screen-item:nth-child(1) {
	transform: rotate(calc(var(--rotate-deg) * -1));
}
.rotate-screen-item:nth-child(2) {
	transform: rotate(calc(var(--rotate-deg) * -1 + 90deg));
}
.rotate-screen-item:nth-child(3) {
	transform: rotate(calc(var(--rotate-deg) * -1 + 180deg));
}
.rotate-screen-item:nth-child(4) {
	transform: rotate(calc(var(--rotate-deg) * -1 + 270deg));
}
