:root {
	--navHeight: 2rem;
	/* 黑色主题色 */
	--bg: #272822;
	--navBg: #272822;
	--color: #fff;
	--textColor: var(--color);
	--btnColor: #e6e6e6;
	--btnBg: #5c5c5c;
	/* 这个好像没啥用的 */
	/* --inverseColor: #FFF; */
	/* 白色主题色 */
	/* --bg: #FFF;
	--navBg:var(--bg);
	--color: #000;
	--textColor: var(--color);
	--btnColor: #333333;

	--bg: #CBD9C0; */

	/* 浅绿 */
	/* --bg: #CBD9C0; */
	/* 浅黄 */
	/* --bg: #FFFAE8; */

	/* FIXME: 后面使用系统主题? 或者支持用户自定义主题 */
}
html {
	font-size: 16px;
}
body {
	display: flex;
	padding: 0;
	margin: 0;
	/* background: linear-gradient(#c6e043, rgb(207, 87, 87)); */
	flex-direction: column;
	background: var(--bg);
	color: var(--color);
}
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
button,
.button {
	color: var(--btnColor);
	cursor: pointer;
	background: #5c5c5c;
	border: 0;
	border: 1px #5c5c5c solid;
	border-radius: 4px;
	outline: none;
	box-sizing: border-box;
}
button:hover,
.button:hover,
button:focus,
.button:focus {
	background: #646464;
	border-color: #969696;
}
button:active,
.button:active {
	background: #969696;
}
.nav {
	display: flex;
	height: var(--navHeight);
	background: var(--navBg);
	/* background: #37ce4b; */
	/* border-bottom: 1px solid #000; */
	flex: 0 0 auto;
	/* align-items: center; */
}
.nav button {
	width: 4rem;
	height: 2rem;

	font-size: 0.7rem;
	background: transparent;
	border-color: transparent;
	border-radius: 0;
	flex: 0 0 auto;
}
.nav button:hover {
	background: #646464;
	border-color: #969696;
}
.nav button:active {
	background: #969696;
}
.nav .content-container {
	position: relative;
	flex: 1 0 auto;
	height: 100%;
}
.nav .content-container .title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 0.7rem;
}
.nav .content-container > div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	user-select: none;
}
.nav .content-container .zoom {
	display: none;
	font-size: 0.9rem;
	color: var(--inverseColor);
	opacity: 1;
	transition: opacity 300ms;
	background: var(--navBg);
}

.main {
	display: flex;
	width: 100%;
	height: calc(100vh - var(--navHeight));
	max-height: calc(100vh - var(--navHeight));
	/* padding: 20px 0; */
	margin: auto;
	overflow-y: auto;
	box-sizing: border-box;
	flex: 1;
	flex-direction: column;
}
.main .standard-width {
	width: 80%;
	max-width: calc(100% - 80px);
	margin: 0 auto;
}
.header {
	/* padding-top: var(--navHeight); */
}
.header .title {
	font-size: 1.6rem;
	text-align: center;
}
.content-box {
	padding-top: 30px;
}
.content {
	flex: 1 1 auto;
}
.content div {
	/* FIXME: 这个距离,如果修改成2rem 则无法保持当前滚动位置,需要解决办法 */
	margin-top: 30px;
	font-size: 16px;
	line-height: 1.5;
	text-indent: 2em;
}

.footer {
	display: flex;
	width: 100%;
	padding-bottom: 40px;
	margin-top: 50px;
}
.footer .btn-box {
	display: flex;
	width: 100%;
	justify-content: space-around;
}
.footer .btn-box button {
	height: 3.6rem;
	max-width: 12rem;
	min-width: 9rem;
	font-size: 1.6rem;
	flex: 1 1 auto;
}
.footer .btn-box button:first-child {
	margin-right: 1px;
}
